@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

#headerFont{
    font-family: 'Imperial Script', cursive;
    font-size: 60px;
    cursor: pointer;
}

.cancelButton{
    cursor: pointer;
}